node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.output
.vinxi
todos.json
axis
# Local Netlify folder
.netlify
tmp/
tmp_run_enum_migration.js

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
